.work_case_wrapper {
  padding-top: 200px;
  font-size: 40px;
}

.work_case {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img {
    width: 600px;
    height: 500px;
    border: 1px solid #1e1818;
    border-radius: 12px;

    & > img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .description {
    width: 500px;

    & > :nth-child(1) {
      font-weight: bold;
      font-size: 22px;
      text-align: center;
    }

    & > :nth-child(2) {
      margin-top: 40px;
      font-size: 16px;
    }
  }

}
.header {
  text-align: center;
  font-family: 'Orchidea Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #141414;
}
